/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#introduction {
  font-size: 25px;
}

#indexContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin: auto;
}

#login-form {
  font-size: 25px; /* This will make the text in the form bigger */
  width: 80%; /* This will make the form take up 50% of the width of its parent */
  margin: auto; /* This will center the form */
}

#username, #password, #email {
  font-size: 20px; /* This will make the text in the input boxes bigger */
  padding: 10px; /* This will add some space around the text in the input boxes */
}

#password {
  margin-bottom: 50px;
}

#login-button, #submitCredentialsButton, #back-to-menu, #register-button{
  width: 150px;
  height: 50px;
  font-weight: bold;
}

#submitCredentialsButton{
  margin-bottom: 20px;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  color: #333;
  line-height: 1.6;
  padding: 20px;
}

h1 {
  color: #194f1c;
  margin-bottom: 20px;
  text-align: center; /* This will center the h1 element */
  font-size: 2.5em; /* This will make the h1 text bigger */
  font-family: 'Courier New', Courier, monospace; /* This will change the font of the h1 text */
}

#button-banner {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100px; /* This will make the banner higher */
  border: 3px solid black;
  border-radius: 10px;
}

#button-banner button {
  flex-grow: 1;
  text-align: center;
  font-size: 20px; /* This will make the text bigger */
  border: 3px solid black;
}



p {
  margin-bottom: 20px;
}

h2 {
  margin-top: 20px;

}

.tip-box {
  margin-top: 20px;
  display: flex;
  border: 5px solid rgb(12, 141, 57);
  border-radius: 10px;
}
#tipText {
  flex: 0.6;
  font-size: 30px;
  margin-right: 40px;
}

#gauge_div, #tipText {
  flex: 0.4;
  flex: 1;
  padding: 10px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  flex: 1 0 200px; /* This means that the card will grow and shrink as needed, and the base width is 200px */
  border: 3px solid black;
  padding-left: 10px;
  margin: 10px;
  box-sizing: border-box;
  max-width: 400px;
  min-height: 200px;
  background-color: rgb(175, 201, 175);
}

.stacked-form > * {
  display: block;
  margin-bottom: 10px;
}

#entryText {
  display: block;
  width: 100%; /* This will make the input fields take up the full width of the form */
  height: 40px; /* This will make the input fields 40px tall */
  margin-bottom: 10px;
  box-sizing: border-box;
}

#entryDate{
  display: block;
  width: 200px; /* This will make the input fields take up the full width of the form */
  height: 40px; /* This will make the input fields 40px tall */
  margin-bottom: 10px;
  box-sizing: border-box;
}

#energy_level{
  display: block;
  width: 300px; /* This will make the input fields take up the full width of the form */
  height: 40px; /* This will make the input fields 40px tall */
  margin-bottom: 10px;
  box-sizing: border-box;
}

#sleep_hours{
  display: block;
  width: 80px; /* This will make the input fields take up the full width of the form */
  height: 40px; /* This will make the input fields 40px tall */
  margin-bottom: 10px;
  box-sizing: border-box;
}

.stacked-form input {
  display: block;
  width: 100%; /* This will make the input fields take up the full width of the form */
  height: 40px; /* This will make the input fields 40px tall */
  margin-bottom: 10px;
  box-sizing: border-box; /* This ensures that padding and border are included in the element's total width and height */
}

#submitFormButton {
  width: 150px;
  height: 50px;
  font-weight: bold;
}
